<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Option 1: Include in HTML -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <title>Login</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
      }

      .cont {
        height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #4070f4;
      }

      .form {
        position: absolute;
        max-width: 430px;
        width: 100%;
        padding: 30px;
        border-radius: 6px;
        background: #fff;
      }

      header {
        font-size: 28px;
        font-weight: 600;
        color: #232836;
        text-align: center;
      }

      form {
        margin-top: 30px;
      }

      .form .field {
        position: relative;
        height: 50px;
        width: 100%;
        margin-top: 20px;
        border-radius: 6px;
      }

      .field input,
      .field button {
        height: 100%;
        width: 100%;
        border: none;
        font-size: 16px;
        font-weight: 400;
        border-radius: 6px;
      }

      .field input {
        outline: none;
        padding: 0 15px;
        border: 1px solid #cacaca;
      }

      .field button {
        color: #fff;
        background-color: #0171d3;
        transition: all 0.3s ease;
        cursor: pointer;
      }

      .field button:hover {
        background-color: #016dcb;
      }

      .form-link {
        text-align: center;
        margin-top: 10px;
      }

      .form-link span,
      .form-link a {
        font-size: 14px;
        font-weight: 400;
        color: #232836;
      }

      .message-success {
        color: #198754 !important;
        font-weight: 600 !important;
      }

      .message-error {
        color: #dc3545 !important;
        font-weight: 600 !important;
      }
    </style>
  </head>
  <body>
    <section class="cont forms">
      <div class="form login">
        <div class="form-content">
          <header>Reset Password</header>
          <form action="/reset-password/{{resetToken}}" method="POST">
            <div class="field input-field">
              <input
                type="password"
                id="password"
                name="password"
                placeholder="New Password"
                class="password"
                minlength="6"
                required
              />
            </div>
            <div class="field button-field">
              <button type="submit">Reset Password</button>
            </div>
          </form>
          {{#if flashMessage}}
            <div class="form-link">
              <span class="message-{{flashType}}">{{flashMessage}}</span>
            </div>
          {{/if}}
          <div class="form-link">
            <span>Back to
              <a href="/signin" class="link signup-link">Login</a></span>
          </div>
        </div>
      </div>
    </section>
  </body>

  {{>toast}}
</html>